{% extends "base.html.twig" %}

{% block body %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    {% if (post.photo) %}
        <div class="mb-3">
            <img src="{{ asset('upload/' ~ post.photo) }}" class="img-fluid rounded" />
        </div>
    {% endif %}
    {% if comments|length > 0 %}
        <h6 class="mb-4">Comments</h6>
        {% for comment in comments %}
            <div class="bg-light p-3 rounded">
                <a href="mailto:{{ comment.email }}" class="text-muted">{{ comment.name }}</a> wrote on {{ comment.createdAt|date("F jS \\a\\t g:ia") }}:
                <br />
                <p class="mb-0">{{ comment.comment }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <h6 class="mb-4 mt-4">Add Comment</h6>
    <div class="row">
        <div class="col-4">
            {{ form(form) }}
        </div>
    </div>
    <p>
        <a href="{{ path('post-index') }}">Back</a>
        <a href="{{ path('post-delete', {id: post.id}) }}" class="ms-2 text-danger">Delete</a>
    </p>
{% endblock %}